body {
	font-size: 1.5em;
	background: rgb(217, 223, 248); /*rgb(244, 247, 255); linear-gradient( #aaa, #ccc );*/
	font-family: Consolas;
	height: 100vh;
	padding: 0 25px;
}

form * {
	justify-content: center;
	align-content: center;
}

form, table, button {
	margin-top: 20px;
}

textarea.main {
	height: 10em;
	font-size: 1.2em;
}

#dt-errr {
	color: red;
	display: none;
}

input {
	line-height: 2em;
	margin-top : 20px;
}

#submit {
	background-color: rgb(233, 249, 244);/* gray;*/
	padding: 0.5em 0.5em;
	font-size: 1.25em;
}

#submit:before {
	content : "+";
	padding: 0.25em 0.25em;
	background-color: #2f2;
	color: white;
	border-radius: 999px;
	display: inline-block;
	width: 1.2em;
	height: 1.2em;
	margin-right: .3em;
}

table.rslt tr td:nth-child(1) {
	width: 60%;
}

table.rslt tr td:nth-child(2) {
	width: 25%;
}

table.rslt tr td:nth-child(3) {
	width: 15%;
}

table.rslt tr td:last-child:hover {
	background-color: rgba( 150, 150, 255, 0.5 );
}

td {
	vertical-align: middle;
}

table.rslt {
	background-color: rgb(231, 232, 216); /*slategray;*/
	table-layout: fixed;
	padding: .3em;
}

table:hover {
	background-color: rgba( 255, 150, 150, 0.5);
}

table.stts td:nth-child(1) {
	width: 90%;
}

table.stts td:nth-child(2) {
	width: 10%;
}
div.notify {
	position: absolute;
	top: 0;
	right: 0;
}

@media screen and ( max-width: 768px ) {
	.container {
		display: flex;
		flex-wrap: wrap;
	}
}

.notify {
	position: absolute;
	top: 10px;
	width: 350px;
	overflow-x: hidden;
}

.notify:empty {
	visibility: hidden;
}

.notify table {
	width: 100%;
	margin: 10px;
	background-color: rgba(150, 80, 234, 0.4);
}

.notify table tr td:last-child {
	font-weight: 600;
	font-size: x-large;
}

.container {
	display: flex;
	justify-content: space-around;
}

.col1, .col2 {
	width: 400px;
	border: 2px solid black;
	padding-left: 20px;
}

.col1 h2, .col2 h2 {
	margin-top: 0px;
	margin-left: -20px;
	background: khaki;
}
